{% extends 'base.html' %}
{% load static %}
{% block title %}
about
{% endblock %}

{% block content %}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb2">
      <li class="breadcrumb-item"><a href=" {% static 'App/index.html' %} "><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
      <li class="breadcrumb-item">Ci Chile</li>
    </ol>
  </nav>
  <div class="row">
    <div class="about-us">
      <div class="container">
        <div class="our-story">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="our-story_text">
                <h1 class="title orange-underline">Ci Chile</h1>
                <p>CI Chile es la empresa más exitosa del mercado en la distribución y venta Online de repuestos multimarca ,origiales y alternativos , atendiendo actualmente un porcentaje importante del mercado nacional. La compañía es importador y distribuidor de afamadas marcas como, Hyundai, Kia, Daewoo, SsangYong , GM, Chevrolet, Mitsubishi , Nissan y Toyota. El objetivo de la compañía es poder dar una atención integral a todos sus clientes, por esto se esmeran en mantener una importante variedad de stock (más de 40.000 ítems) para todos los modelos, con piezas originales, como también con piezas alternativas para el mercado de reposición, importadas por nosotros mismos.</p>
                
                
              </div>
            </div>
            <div class="col-lg-6 col-md-12"> <img src=" {% static 'App/assets/images/about-img.jpg' %} " class="img-fluid" alt="" title=""> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="why-choose">
  <h2>Líneas de Productos</h2>
  <div class="clearfix"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_1.png' %} " class="img-fluid" alt="">
              <h5>Piezas De Motor Y Aceite</h5>
              <p>Aceite de motor, Bomba de agua + kit correa distribución, Kit de distribución, Inyector, Turbocompresor.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_5.png' %} " alt="">
              <h5>Dirección - Suspensión – Tren Delantero</h5>
              <p>Amortiguadores delanteros, Juego de 2 amortiguadores traseros, Barra de suspensión, Cojinete de rueda, Rótula barra de dirección.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_2.png' %} " alt="">
              <h5>Frenado</h5>
              <p>Pastillas de freno, Juego delantero de 2 discos de freno, Juego trasero de 4 pastillas de freno, Juego trasero de 2 discos de freno, Kit de frenos premontados traseros</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_3.png' %} " alt="">
              <h5>Filtros</h5>
              <p>Filtro de aceite, Filtro combustible, Filtro de aire, Filtro, aire habitáculo, Filtro hidráulico, dirección.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_4.png' %} " alt="">
              <h5>Embrague/Caja De Cambios</h5>
              <p>Kit de embrague + Volante motor, Volante motor, Cilindro maestro, embrague, Cable de accionamiento, accionamiento del embrague.</p>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_6.png' %} " alt="">
              <h5>Motor</h5>
              <p>Silenciador trasero, Válvula EGR, Catalizador, Tubo de escape, Sonda Lambda.</p>
            </div>
          </div>
          
           <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_7.png' %} " alt="">
              <h5>Enfriamiento</h5>
              <p>Radiador, refrigeración del motor, Termostato, refrigerante, Sensor, temperatura del refrigerante, Compresor, aire acondicionado, Tubería de radiador.</p>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_8.png' %} " alt="">
              <h5>Iluminacion</h5>
              <p>Radiador, refrigeración del motor, Termostato, refrigerante, Sensor, temperatura del refrigerante, Compresor, aire acondicionado, Tubería de radiador.</p>
            </div>
          </div>
          
           <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_9.png' %} " alt="">
              <h5>Correas</h5>
              <p>Radiador, refrigeración del motor, Termostato, refrigerante, Sensor, temperatura del refrigerante, Compresor, aire acondicionado, Tubería de radiador.</p>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_10.png' %} " alt="">
              <h5>Inyectores</h5>
              <p>Radiador, refrigeración del motor, Termostato, refrigerante, Sensor, temperatura del refrigerante, Compresor, aire acondicionado, Tubería de radiador.</p>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="icon-detail"><img src=" {% static 'App/assets/images/dow_icon_11.png' %} " alt="">
              <h5>Turbo</h5>
              <p>Radiador, refrigeración del motor, Termostato, refrigerante, Sensor, temperatura del refrigerante, Compresor, aire acondicionado, Tubería de radiador.</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-5">
        <div><img src=" {% static 'App/assets/images/page-img/why-choose.jpg' %} "  title="" alt="" class="img-fluid" ></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>


{% endblock %}