<nav class="navbar navbar-expand-md navbar-light bg-dark">

  <a href="/" class="navbar-brand"><i class="fas fa-store text-warning fa-2x"></i></a>
  <button type="button" class="navbar-toggler bg-light" data-toggle="collapse"
  data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse justify-content-between" id="nav">
  <ul class="navbar-nav">
    <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
      href="" data-toggle="dropdown">Categories</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'home' %}">All Products</a>
        {% for category in links %}
        <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
        {% endfor %}

      </div>
    </li>
    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'contact' %}">Contact</a></li>
    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">About</a></li>
    {% if request.user.is_authenticated and request.user.first_name %}
      <li class="nav-item dropdown">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">
          Welcome, {{ request.user.first_name }} <i class="fas fa-user circle"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'order_history' %}">Order History</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">
          Sign Out <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">
          Sign Up <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signin' %}">
          Sign In <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
    {% endif %}

    {% if item_count > 0 %}
    <li class="nav-item">
      <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
        <i class="fas fa-shopping-cart"></i>({{item_count}})
    </a>
    {% endif %}
  </li>

  </ul>

  <form class="form-inline ml-3" action="{% url 'search' %}", method="GET">
    <div class="input-group">
      <input type="text" name="title" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
  </div>
</nav>

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>



</head>
<body>
<!--sidebar-->
<nav id="sidebar">
  <div id="dismiss"> <i class="fa fa-arrow-left"></i> </div>
  <div class="sidebar-header"> <img src=" {% static 'App/assets/images/logo.png' %} " alt="Ci Chile La nueva manera de comprar tus repuestos" title="Ci Chile" class="img-fluid" width="150"> </div>
  <ul class="list-unstyled components">
    <li><a class="dropdown-item" href=" {% url 'home' %} ">Inicio</a></li>
    <li> <a href=" {% static 'App/#homeSubmenu2' %} " class="dropdown-toggle"  data-toggle="collapse" aria-expanded="false">Tienda</a>
      <div class="collapse list-unstyled" id="homeSubmenu2">
        <div class="row">
          <div class="col-sm-12">
            <h5>Búsqueda Por Línea de Repuesto</h5>
            <a class="dropdown-item" href=" {% static 'App/shop-col-3.html' %} ">Piezas De Motor Y Aceite</a> <a class="dropdown-item" href="listadoProducto.html">Dirección y  Suspensión </a> <a class="dropdown-item" href="listadoProducto.html">Frenado</a> <a class="dropdown-item" href="listadoProducto.html">Filtros</a> <a class="dropdown-item" href="listadoProducto.html">Embrague/Caja De Cambios</a><a class="dropdown-item" href="listadoProducto.html">Motor</a><a class="dropdown-item" href="listadoProducto.html">Enfriamiento</a><a class="dropdown-item" href="listadoProducto.html">Iluminacion</a><a class="dropdown-item" href="listadoProducto.html">Correas</a><a class="dropdown-item" href="listadoProducto.html">Inyectores</a><a class="dropdown-item" href="listadoProducto.html">Turbo</a></div>
          <div class="col-sm-12">
            <h5>Búsqueda Por Marca Automotriz</h5>
            {% for marca in brands %}
              <a class="dropdown-item" href=" {% static 'App/listadoProducto.html' %} ">{{marca.name}}</a> 
            {% endfor %}
          </div>
          
 
      </div>
    </li>
    
    
  </ul>
</nav>
<!--sidebar-->
<!-- <div id="myModalsubscribe" class="modal fade subscribe">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-body">
        <div class="row m-0">
          <div class="col-md-6 p-0 position-relative">
            <div class="newslettermodal-img"><img src=" {% static 'App/assets/images/page-img/popup-img.jpg' %} " alt="" title="" class="img-fluid"></div>
          </div>
          <div class="col-md-6 p-0">
            <div class="newslettermodal-content">
              <div class="text-center"><img src=" {% static 'App/assets/images/popup-logo.png' %} " alt="" title=""></div>
              <h4 class="modal-title">Recibe las mejores ofertas</h4>
              <p>No te pierdas nuestras ofertas de repuestos especialmente pensadas para ti</p>
              <form action="/" method="post" id="homeForm" onSubmit="return ajaxmailhome();" class="newslettermodal-content-form">
                <div class="form-group">
                  <input type="email" name="homemail" id="homemail" class="form-control" placeholder="Enter Your e-mail address">
                </div>
                <button type="button" class="btn subscribe2" onClick="return ajaxmailhome();">Recibir Ofertas</button>
              </form>
              <ul>
                
                <li><a href="#" class="icoFacebook" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoInstagram" title=""><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="icoGoogle" title=""><i class="fa fa-google-plus"></i></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Navigation -->
<div class="top-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 top-div top1">
        <ul>
          <li><a href=" {% static 'App/mailto:info.auto_parts@gmail.com' %} "><i class="fa fa-envelope"></i> &nbsp;contacto@cichile.cl</a></li>
          <li>|</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +56 9 8901 5844</li>	
        </ul>
      </div>
      <div class="col-lg-7 col-md-6 col-md-12 position-relative">
        <div class="right-div">
          <ul>
            <li>
              <ul class="social-network">
               
                <li><a href="#" class="icoFacebook" title=""><i class="fa fa-facebook"></i></a></li>

                <li><a href="#" class="icoLinkedin" title=""><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </li>
            <li>
              <ul class="top-ul">
                <li>
                  <div class="dropdown"> <a class="dropdown-toggle" href=" {% static 'App/' %} " data-toggle="dropdown"> +56 9 8901 5844 </a>
                    
                  </div>
                </li>
                <li>
                  <div class="dropdown"> <a class="dropdown-toggle" href=" {% static 'App/' %} " data-toggle="dropdown">+56 9 8901 5844</a>
                    
                  </div>
                </li>
              </ul>
            </li>
            <!-- <li>
              <div class="rate-price rate-price2">
                <ul>
                  <li class="dropdown"> <a class="dropdown-toggle" href=" {% static 'App/' %} " data-toggle="dropdown"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animate slideIn"> <a class="dropdown-item" href=" {% static 'App/login.html' %} ">Ingresar</a> <a class="dropdown-item" href="my-account.html">Mi Cuenta</a> <a class="dropdown-item" href="register.html">Registrate</a> <a class="dropdown-item" href="forgot-password.html">Olvidaste tu Contraseña?</a> </div>
                  </li>
                  <li><a href=" {% static 'App/wishlist.html' %} "><i class="fa fa-heart-o" aria-hidden="true"></i><span class="circle-2">1</span></a></li>
                  <li class="dropdown"> <a class="dropdown-toggle link" href=" {% static 'App/' %} " data-toggle="dropdown"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="circle-2">1</span></a>
                    <div class="dropdown-menu dropdown-menu2 dropdown-menu-right  animate slideIn">
                      <div class="container">
                        <div class="row">
                          <div class="col-3"><img src=" {% static 'App/assets/images/auto-parts/img-1.jpg' %} " alt="" title="" class="img-fluid"></div>
                          <div class="col-9">
                            <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                            <a href=" {% static 'App/' %} " class="close">x</a> </div>
                          <div class="col-md-12">
                            <hr>
                          </div>
                          <div class="col-3"><img src=" {% static 'App/assets/images/auto-parts/img-2.jpg' %} " alt="" title="" class="img-fluid"></div>
                          <div class="col-9">
                            <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                            <a href=" {% static 'App/' %} " class="close">x</a> </div>
                          <div class="col-md-12">
                            <hr>
                          </div>
                          <div class="col-3"><img src=" {% static 'App/assets/images/auto-parts/img-3.jpg' %} " alt="" title="" class="img-fluid"></div>
                          <div class="col-9">
                            <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                            <a href=" {% static 'App/' %} " class="close">x</a> </div>
                          <div class="col-md-12">
                            <hr>
                          </div>
                          <div class="col-3"><img src=" {% static 'App/assets/images/auto-parts/img-4.jpg' %} " alt="" title="" class="img-fluid"></div>
                          <div class="col-9">
                            <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                            <a href=" {% static 'App/' %} " class="close">x</a> </div>
                          <div class="col-md-12">
                            <hr>
                          </div>
                          <div class="col-3">
                            <p class="font-15">Tax </p>
                          </div>
                          <div class="col-9 text-right"> <span class="font-15">$ 2.80</span> </div>
                          <div class="col-md-12">
                            <hr>
                          </div>
                          <div class="col-3">
                            <p class="font-15"><strong>Total</strong></p>
                          </div>
                          <div class="col-9 text-right"> <span class="font-15"><strong>$ 10.80</strong></span> </div>
                          <div class="col-md-12">
                            <hr>
                          </div>
                          <div class="col-md-12 text-center">
                            <input type="button" value="Check out" class="btn check-out w-100">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<!-- MENU MAIN /////////////////////////............................................................ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-white">
  <div class="container"> <a class="navbar-brand" href=" {% url 'home' %} "> <img src=" {% static 'App/assets/images/logo.png' %} " alt="" title="" class="img-fluid"> </a>
    <button id="sidebarCollapse" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> <span class="navbar-toggler-icon"></span> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
        <li class="nav-item dropdown megamenu-li"> <a class="nav-link " href= "{% url 'about' %}"> Empresa </a>
        </li>
        <li class="nav-item dropdown megamenu-li"> <a class="nav-link dropdown-toggle" href=" {% url 'gallery' %} " id="Dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Líneas de Repuestos</a>
          <div class="dropdown-menu megamenu animate slideIn" aria-labelledby="navbarDropdownBlog">
            <div class="row">
              <div class="  ">
                <h5>Repuestos</h5>
                {% for category in links %}
                <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                {% endfor %}
              </div>
              <!-- <div class="col-sm-6 col-lg-3">
                <h5>Suspensión</h5>
                <a class="dropdown-item" href=" {% static 'App/shop.html' %} ">Amortiguador delantero</a> <a class="dropdown-item" href="shop.html">Amortiguador trasero</a> <a class="dropdown-item" href="shop.html">Barra de suspensión</a> <a class="dropdown-item" href="shop.html">Cojinete de rueda</a> <a class="dropdown-item" href="shop.html">Rótula barra dirección</a> </div>
              <div class="col-sm-6 col-lg-3">
                <h5>Frenado</h5>
                <a class="dropdown-item" href=" {% static 'App/shop.html' %} ">Pastillas de freno</a> <a class="dropdown-item" href="shop.html">Discos de freno</a> <a class="dropdown-item" href="shop.html">Kit de frenos﻿﻿﻿﻿</a>  </div>
              <div class="col-sm-6 col-lg-3">
                <h5>Filtración</h5>
                <a class="dropdown-item" href=" {% static 'App/shop.html' %} ">Filtro de aceite</a> <a class="dropdown-item" href="shop.html">Filtro combustible</a> <a class="dropdown-item" href="shop.html">Filtro de aire﻿﻿﻿﻿</a> <a class="dropdown-item" href="shop.html">Filtro hidráulico﻿﻿﻿﻿</a> </div>
                <div class="col-sm-6 col-lg-3">
                <h5>Embrague</h5>
                <a class="dropdown-item" href=" {% static 'App/shop.html' %} ">Kit de embrague</a> <a class="dropdown-item" href="shop.html">Volante motor</a> <a class="dropdown-item" href="shop.html">Embrague﻿﻿﻿﻿</a> <a class="dropdown-item" href="shop.html">Cilindro maestro﻿﻿﻿﻿</a><a class="dropdown-item" href="shop.html">Cable de accionamiento﻿﻿﻿﻿</a> </div>
                
                <div class="col-sm-6 col-lg-3">
                <h5>Motor</h5>
                <a class="dropdown-item" href=" {% static 'App/shop.html' %} ">Silenciador trasero</a> <a class="dropdown-item" href="shop.html">Válvula EGR</a> <a class="dropdown-item" href="shop.html">Catalizador</a> <a class="dropdown-item" href="shop.html">Tubo de escape﻿﻿﻿﻿</a><a class="dropdown-item" href="shop.html">Sonda Lambda﻿﻿﻿﻿</a> </div>
                
                <div class="col-sm-6 col-lg-3">
                <h5>Climatización</h5>
                <a class="dropdown-item" href=" {% static 'App/shop.html' %} ">Radiador</a> <a class="dropdown-item" href="shop.html">Refrigerante</a> <a class="dropdown-item" href="shop.html">Termostato</a> <a class="dropdown-item" href="shop.html">Compresor﻿﻿﻿﻿</a><a class="dropdown-item" href="shop.html">Aire acondicionado﻿﻿﻿﻿</a><a class="dropdown-item" href="shop.html">Tubería de radiador﻿﻿﻿﻿</a> </div> -->
              <div class="clearfix"></div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="Dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Marcas Automotrices </a>
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="Dropdown3">
            <h5>Búsqueda</h5>
            <a class="dropdown-item" href=" {% static 'App/blog-left-sidebar.html' %} ">Hyundai</a> <a class="dropdown-item" href="blog-right-sidebar.html">KIA</a> <a class="dropdown-item" href="blog-w-o-sidebar.html">SsangYong</a> <a class="dropdown-item" href="blog-details.html">Daewoo</a><a class="dropdown-item" href="blog-w-o-sidebar.html">Nissan</a> <a class="dropdown-item" href="blog-w-o-sidebar.html">Toyota</a></div>
        </li>
        <!-- <li class="nav-item "> <a class="nav-link dropdown-toggle" href="#" id="Dropdown3"  aria-haspopup="true" aria-expanded="false"> Modo de pago </a>
          
        </li> -->
       
      </ul>
      <div class="rate-price nav-1">
        <ul>
          <li class="dropdown"> 
            {% if request.user.is_authenticated and request.user.first_name %}
            <a class="dropdown-toggle" href=" {% static 'App/' %} " data-toggle="dropdown">{{ request.user.first_name }} <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-menu-right animate slideIn"> 
            <a class="dropdown-item" href="my-account.html">Mi Cuenta</a>
            <a class="dropdown-item" href="{% url 'order_history' %}">Historial de compras</a>
            <a class="dropdown-item" href="{% url 'signout' %}">
              Cerrar sesión <i class="fas fa-sign-out-alt ml-1"></i>
            </a>
            {% else %}
            <a class="dropdown-toggle" href=" {% static 'App/' %} " data-toggle="dropdown"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-menu-right animate slideIn"> <a class="dropdown-item" href="{% url 'signin' %}">Ingresar</a><a class="dropdown-item" href="{% url 'signup' %}">Registrarse</a> <a class="dropdown-item" href="forgot-password.html">Olvidaste tu Contraseña</a> </div>
            {% endif %}
          </li>
          {% if item_count > 0 %}
          <li class="nav-item">
            <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
              <i class="fas fa-shopping-cart"></i>({{item_count}})
          </a>
          </li>
          {% endif %}
          <!-- <li class="dropdown"> <a class="dropdown-toggle link" href=" {% static 'App/' %} " data-toggle="dropdown"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="circle-2">1</span></a>
            <div class="dropdown-menu dropdown-menu2 dropdown-menu-right animate slideIn">
              <div class="container">
                <div class="row">
                  <div class="col-md-3"><img src=" {% static 'App/assets/images/auto-parts/img-1.jpg' %} " alt="" title="" class="img-fluid"></div>
                  <div class="col-md-9">
                    <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                    <a href=" {% static 'App/' %} " class="close">x</a> </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
                  <div class="col-md-3"><img src=" {% static 'App/assets/images/auto-parts/img-2.jpg' %} " alt="" title="" class="img-fluid"></div>
                  <div class="col-md-9">
                    <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                    <a href=" {% static 'App/' %} " class="close">x</a> </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
                  <div class="col-md-3"><img src=" {% static 'App/assets/images/auto-parts/img-3.jpg' %} " alt="" title="" class="img-fluid"></div>
                  <div class="col-md-9">
                    <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                    <a href=" {% static 'App/' %} " class="close">x</a> </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
                  <div class="col-md-3"><img src=" {% static 'App/assets/images/auto-parts/img-4.jpg' %} " alt="" title="" class="img-fluid"></div>
                  <div class="col-md-9">
                    <p>1 x Product Name... <span class="price">$ 14.70</span></p>
                    <a href=" {% static 'App/' %} " class="close">x</a> </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
                  <div class="col-md-3">
                    <p class="font-15">Tax </p>
                  </div>
                  <div class="col-md-9 text-right"> <span class="font-15">$ 2.80</span> </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
                  <div class="col-md-3">
                    <p class="font-15"><strong>Total</strong></p>
                  </div>
                  <div class="col-md-9 text-right"> <span class="font-15"><strong>$ 10.80</strong></span> </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
                  <div class="col-md-12 text-center">
                    <input type="button" value="Check out" class="btn check-out w-100">
                  </div>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</nav>

</body>
</html>
