body{
	background-color: #FFA000;
}

button.btn{
	margin-left: 3%;
	font-family: 'Poppins', sans-serif;
}

a{
	font-family: 'Poppins', sans-serif;
}

.navbar-nav{
	width:80%;
}

a i{
	padding-right: 0.3em;
	
}

.navbar{
	/* background-color: red; */
}

.c-white{
	color:white!important;
}

.navbar-sup a{
	font-size: 0.7em;
	text-align: center;
	display: inline-block;
	justify-content: center;
}