<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="home.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <footer style="background-image: url(img/background/bg-footer-2.jpg);">
    <div class="clearfix footerInfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <div class="footerText">
                        <a href="" class="footerLogo"></a>
                        <div class="logo">
                            <a href="" class="footerLogo"></a>
                            <a href=""><img src="img/logo-footer.png" alt="Logo"></a>
                        </div>
                        <p>
                            En CI Chile decidimos cambiar la forma de comprar repuestos automotrices, por ello creamos una nueva forma de atender a los clientes en línea donde podrás buscar, comparar y encontrar hasta las piezas más difíciles, ahorrando tiempo y dinero en el proceso.
                        </p>
                        <ul class="list-styled list-contact">
                            <li>
                                <i class="fa fa-phone" aria-hidden="true">+56 9 8901 5844</i>
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true">+56 9 3139 5109</i>
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true">+56 9 3139 5112</i>
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"><a href="mailto:info@cichile.cl">info@cichile.cl</a></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                        <h4>Links</h4>
                    </div>
                    <div class="useLink">
                        <ul class="list-unstyled">
                            <li><a href="">Repuestos</a></li>
                            <li><a href="">Marcas Vehículos</a></li>
                            <li><a href="">Modo de Pago</a></li>
                            <li><a href="">Envío</a></li>
                            <li><a href="">Devolución</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="footerInfoTitle">
                        <h4>CI Chile</h4>
                    </div>
                    <div class="useLink">
                        <ul class="list-unstyled">
                            <li><a href="">Empresa</a></li>
                            <li><a href="">Contáctenos</a></li>
                            <li><a href="">Trabaje con nosotros</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix copyRight">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyRightWrapper">
                        <div class="row">
                            <div class="col-sm-5 col-sm-push-7 col-xs-12">
                                <ul class="list-inline socialLink">
                                    <li>
                                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                                </ul>
                            </div>
                            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                                <div class="copyRightText">
                                    <p>Comercial Import Chile</p>
                                    <a href="">Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>