<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="indexstyles.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
	body{
	background-color: #FFA000;
}

button.btn{
	margin-left: 3%;
	font-family: 'Poppins', sans-serif;
}

a{
	font-family: 'Poppins', sans-serif;
}

.navbar-nav{
	width:80%;
}

a i{
	padding-right: 0.3em;
	
}

.navbar{
	background-color: red;
}

.c-white{
	color:white!important;
}

.navbar-sup a{
	font-size: 0.7em;
	text-align: center;
	display: inline-block;
	justify-content: center;
}
</style>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" style="background-color: #373C48; width:100%;">
    <div class="navbar-sup">
      <a class="nav-item c-white nav-link pr-3 pl-3" href="#"><i class="fa fa-whatsapp fa-lg"></i>WhatsApp</a>
      <a class="nav-item c-white nav-link pr-3 pl-3" href="#"><i class="fa fa-whatsapp fa-lg"></i>WhatsApp</a>
      <a class="nav-item c-white nav-link pr-3 pl-3" href="#"><i class="fa fa-whatsapp fa-lg"></i>>WhatsApp</a>
      <a class="nav-item c-white nav-link pr-3 pl-3" href="#"><i class="fa fa-user fa-lg"></i>Contacto</a>
      <a class="nav-item c-white nav-link pr-3 pl-3" href="#"><i class="fa fa-truck fa-lg"></i>Envío</a>        
      <a class="nav-item c-white nav-link pr-3 pl-3" href="#"><i class="fa fa-map-marker fa-lg"></i>Devolución</a>
    </div>
  </div>
</nav>
	<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
  <img src="img/logo-blue.png" alt="logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">INICIO<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link pr-3 pl-3" href="#">EMPRESA</a>
      <a class="nav-item nav-link pr-3 pl-3" href="#">REPUESTOS</a>
      <a class="nav-item nav-link pr-3 pl-3" href="#">MARCAS</a>
      <a class="nav-item nav-link pr-3 pl-3" href="#">OFERTAS</a>
      <a class="nav-item nav-link pr-3 pl-3" href="#">PAGO</a>
      <a class="nav-item nav-link pr-3 pl-3" href="#">FAQ</a>
      <button type="button" class="btn btn-outline-primary">COTIZAR</button>
    </div>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>